.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  padding: 6rem 6rem;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 6rem 4rem;
  }
}

@media screen and (max-width: 576px) {
  .main {
    padding: 6rem 2rem;
  }
}

@media screen and (max-width: 320px) {
  .main {
    padding: 6rem 1rem;
  }
}


.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;


}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}